.App {
  background-color: #f2efe7;
  background-size: 100%;
  background-position: center;
  align-content: center;
}

@font-face {
  font-family: "Audrey Normal";
  src: url("./Audrey-Normal.otf");
}

.App-header {
  background-color: #f2efe7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  display: inline-block;
  text-align: center;
}

nav {
  height: content;
  background: #c9ab8f;
  text-align: center;
}

a {
  text-decoration: none;
  font-family: "Audrey Medium";
  font-size: 14px;
  text-align: center;
  color: #031f3a;
  border: none;
  margin: 0;
  padding: 5px 10px 0 10px;
}

.App-link {
  color: #031f3a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 376px) {
  main {
    text-align: center;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  a {
    text-decoration: none;
    font-family: "Audrey Medium";
    font-size: 18px;
    text-align: center;
    color: #031f3a;
    border: none;
    margin: 0;
    padding: 5px 10px 5px 10px;
  }
}
